
:root {
    --blue-evening: #198891;
    --violet-sunset: #be7a8c;
    --grey-cloud: #98878f;
    --blue-stormy: #242735;
    --violet-dawn: #721664;
    --white: #ecebf3;

    --main-font: 'Signika', sans-serif;
    --light: 300;
    --medium: 500;
    --bold: 700;
    --font-s: 1.2rem;
    --font-m: 1.6rem;
    --font-l: 2rem;
}

html {
    font-size: 65.2%;
    font-family: var(--main-font);
    background-color: var(--blue-stormy);
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
}

img {
    width: 130px;
    height: auto;
}

h3 {
    font-size: var(--font-m);
    padding-left: 8px;
    padding-bottom: 12px;
}

h2 {
    color: var(--white);
    font-size: var(--font-l);
    padding: 0 0 12px 8px;
}


span {
    text-align: center;
}


/*----------Barra de navegación--------------*/

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    padding: 2px 8px;
    grid-row: 1/2;
}

nav ul {
    list-style: none;
    position: absolute;
    top: 50px;
    left: -100%;
    background-color:var(--blue-stormy);
    padding: 8px;
    height: 100vh;
    width: 30%;
    z-index: 30;
    opacity: 0;
    transition: left 0.3s ease-in, opacity 0.4s ease-in;
}

nav ul li {
    padding: 2px 0;
    color: var(--white);
    font-size: var(--font-m);
    cursor: pointer;
}

nav img.menu-logo {
    width: 120px;
    padding-top: 8px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.705));
    position: absolute;
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

nav span.mobile-menu {
    color: var(--white);
    cursor: pointer;
}

nav form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 2px;
    border: 2px solid var(--white);
    background-color: transparent;
    border-radius: 8px; 
}

nav form input {
    width: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--violet-sunset);
    font-size: var(--font-s);
    margin: 0 auto;
    transition: width 0.3s ease-in-out;
}

nav form input:focus {
    width: 80px;
}

nav form button {
    background-color: transparent;
    border: none;
    padding: 0 2px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav form button span.material-symbols-outlined {
    font-size: var(--font-m);
    color: var(--white);
    margin: 0 auto;
}


/*-------------------------------------------------------------------------*/
/*---------Sección main-------------*/

section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    grid-row: 2/3;
}

/*----MAIN-wellcome---*/

section#main article.wellcome {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow: hidden;
    display: flex;
}

section#main article.wellcome img {
    width: 100%;
    aspect-ratio: 16/9;
    position: absolute;
    z-index: 0;
    place-self: center;
    margin: 0 auto;
    opacity: 50%;
}

section#main article.wellcome div.wellcome-style {
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(90deg,var(--blue-evening) 10%,transparent);
    width: 100%;
    height: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 0 8px;
}

section#main article.wellcome div.wellcome-style h2 {
    font-size: var(--font-l);
}

section#main article.wellcome div.wellcome-style p {
    font-size: var(--font-m);
}

/*--------------------------*/

/*------MEIN-trending movies & series, random categories----*/

article.trending-movies, article.trending-series, article.random-category-1, article.random-category-2, article.categories {
    width: 100%;
    height: auto;
    color: var(--white);
    padding-bottom: 12px;
    font-size: var(--font-s);
}

div.trending-movies-container, div.trending-series-container, div.random-tv-container, div.random-movie-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

div.movie-data-container, div.serie-data-container, div.random1-data-container, div.random2-data-container {
    position: relative;
    width: max-content;
    height: 208px;
    cursor: pointer;
}

div.movie-data-container img, div.serie-data-container img, div.random1-data-container img, div.random2-data-container img {
    width: 130px;
    height: auto;
    position: relative;
    z-index: 1;
}

div.raiting-number {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--blue-evening);
    display: flex;
    align-items: center;
    justify-content: center;
}

div.raiting-number p {
    text-align: center;
    color: var(--white);
    font-size: var(--font-s);
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}
/*----------------------------------------*/

/*-----MAIN-Most-popular--------*/
article.most-popular {
    width: 100%;
    height: 30vh;
    color: var(--white);
    padding-bottom: 12px;
}

div.most-popular-container {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    
}

div.most-popular-container img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
    top:-50%;
    margin: auto;
}

div.most-popular-txt {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 8px;
}

div.most-popular-txt h3 {
    font-size: var(--font-l);
    padding-left: 0px;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}

div.most-popular-txt p {
    font-size: 1rem;
    width: 50%;
    height: 12vh;
    overflow: hidden;
    text-shadow: 2px 2px 5px rgba(16, 16, 17, 0.637);
}

div.most-popular-txt p:hover, div.most-popular-txt p:active {
    overflow-y: scroll;
}

div.most-popular-raiting-number {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--blue-evening);
    position: absolute;
    z-index: 2;
    right: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.most-popular-raiting-number p {
    font-size: var(--font-m);
    text-align: center;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}

/*---------------Carrousel most popular---------------*/
article.tv-most-popular, article.movies-most-popular {
    background-image: url('https://www.themoviedb.org/t/p/original/eXOLYCU3Ue5U6afVmvyIHNthfIh.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    cursor: pointer;
    transition: background-image 0.5s;
}

div.carrousel-most-popular, div.movie-carrousel-most-popular {
    grid-column: 2/3;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 0;
    flex-direction: column;
}

div.carrousel-most-popular h2, div.movie-carrousel-most-popular h2 {
    text-align: left;
    width: 80%;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}

div#left-arrow, div#movie-left-arrow {
    grid-column: 1/2;
    grid-row: 1/2;
    width: auto;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}

div#rigth-arrow, div#movie-rigth-arrow {
    grid-column: 3/4;
    grid-row: 1/2;
    width: auto;
    height: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}

div.popular-tv-raiting, div.carrousel-movie-raiting {
    width: 50px;
    height: 50px;
    place-self: flex-end;
    border-radius: 50%;
    background-color: var(--blue-evening);
    right: 35px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.popular-tv-raiting p, div.carrousel-movie-raiting p {
    font-size: var(--font-m);
    text-align: center;
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}



/* ----------Categories--------------------*/

div.movies-categories-container {
    display: grid;
    grid-template-rows: repeat(19,auto);
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    padding: 8px;
}

div.tv-categories-container {
    display: grid;
    grid-template-rows: repeat(16,auto);
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
    padding: 8px;
}

div.category-banner {
    width: 100%;
    height: 8vh;
    background-image: url('https://www.themoviedb.org/t/p/original/hYZ4a0JvPETdfgJJ9ZzyFufq8KQ.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    cursor: pointer;
    box-shadow: 
            11px 10px 35px -11px rgba(17,17,20,0.56),
            -13px -12px 35px -11px rgba(17,17,20,0.56);
}

div.c28 {
    background-image: url('https://www.themoviedb.org/t/p/original/ApgtU8ZQGdB6KOGKaINfhEUiLea.jpg');
    background-position: bottom;
}

div.c12 {
    background-image: url('https://www.themoviedb.org/t/p/original/hdVPl07thMP4NeOQTWdFkgG3KmZ.jpg');
    background-position: top;
}

div.c16 {
    background-image: url('https://www.themoviedb.org/t/p/original/e04iBCX3582bPRsYUb82texxZIY.jpg');
}

div.c35 {
    background-image: url('https://www.themoviedb.org/t/p/original/5FFpcmPzD5mhLom7bymZq7Py8eT.jpg');
    background-position: top;
}

div.c80 {
    background-image: url('https://www.themoviedb.org/t/p/original/leeHVfEoza4GaZio1tIzevz6XYc.jpg');
}

div.c99 {
    background-image: url('https://www.themoviedb.org/t/p/original/n9gbUay2DviK153snhFO2ldxv5l.jpg');
    background-position: top;
}

div.c18 {
    background-image: url('https://www.themoviedb.org/t/p/original/qvKO17IESSCM9ABguUDtGnc83De.jpg');
    background-position: top;
}

div.c10751 {
    background-image: url('https://www.themoviedb.org/t/p/original/eXOLYCU3Ue5U6afVmvyIHNthfIh.jpg');
    background-position: top;
}

div.c14 {
    background-image: url('https://www.themoviedb.org/t/p/original/o0s4XsEDfDlvit5pDRKjzXR4pp2.jpg');
    background-position: top;
}

div.c36 {
    background-image: url('https://www.themoviedb.org/t/p/original/gr5YD5dnF0QbIF00ovdb9AtXa7g.jpg');
}

div.c27 {
    background-image: url('https://www.themoviedb.org/t/p/original/cw5snHBL1Dmig3mhcjhxx7aGxnl.jpg');
}

div.c10402 {
    background-image: url('https://www.themoviedb.org/t/p/original/pbXgLEYh8rlG2Km5IGZPnhcnuSz.jpg');
    background-position: top;
}

div.c9648 {
    background-image: url('https://www.themoviedb.org/t/p/original/ntxArhtReGCqQSWFXk0c0Yt8uDO.jpg');
    background-position: top;
}

div.c10749 {
    background-image: url('https://www.themoviedb.org/t/p/original/6cpRpfD3isvluFwXDGSiDVyibPJ.jpg');
    background-position: top;
}

div.c878 {
    background-image: url('https://www.themoviedb.org/t/p/original/wcKFYIiVDvRURrzglV9kGu7fpfY.jpg');
}

div.c10770 {
    background-image: url('https://www.themoviedb.org/t/p/original/j3CSGG01PUh6nsju4oIfPGeoNQr.jpg');
    background-position: top;
}

div.c53 {
    background-image: url('https://www.themoviedb.org/t/p/original/wAsjRmGfyDoy54zYuQn0GsAWrlJ.jpg');
}

div.c10752 {
    background-image: url('https://www.themoviedb.org/t/p/original/6O0lsCK90jZCyPvyYSt8Szzlnd6.jpg');
}

div.c37 {
    background-image: url('https://www.themoviedb.org/t/p/original/3gx3ls1iJHoSK4qwMVcBk02322p.jpg');
    background-position: top;
}

div.c10759 {
    background-image: url('https://www.themoviedb.org/t/p/original/wHGWiOo9EHRN1aTX4UNg7STOvrk.jpg');
}

div.c10762 {
    background-image: url('https://www.themoviedb.org/t/p/original/fu2OIK3X1VWpQGhJPw2IWmoMu89.jpg');
}

div.c10763 {
    background-image: url('https://www.themoviedb.org/t/p/original/bgo1ixOB2U6hxl8Og2TZritWKaD.jpg');
}

div.c10764 {
    background-image: url('https://www.themoviedb.org/t/p/original/dzOASDkrgmdVsI9as1zt2kdp6my.jpg');
    background-position: top;
}

div.c10765 {
    background-image: url('https://www.themoviedb.org/t/p/original/achmETPRJZc9QVXsMPgHwYEyNar.jpg');
}

div.c10766 {
    background-image: url('https://www.themoviedb.org/t/p/original/mzgxjQFLYPk73bCYeGFWOAmKqV0.jpg');
    background-position: top;
}

div.c10767 {
    background-image: url('https://www.themoviedb.org/t/p/original/7Fe5rgtHcqot9aHYIwP6MCGPvgC.jpg');
    background-position: top;
}

div.c10768 {
    background-image: url('https://www.themoviedb.org/t/p/original/2yDV0xLyqW88dn5qE7YCRnoYmfy.jpg');
}

div.movies-categories-container div:nth-child(odd) {
    grid-column: 1/8;
}

div.movies-categories-container div:nth-child(even) {
    grid-column: 2/9;
}

div.tv-categories-container div:nth-child(odd) {
    grid-column: 1/8;
}

div.tv-categories-container div:nth-child(even) {
    grid-column: 2/9;
}

p.category-name {
    font-size: var(--font-m);
    width: max-content;
    height: fit-content;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    text-shadow: 2px 2px 10px rgba(16, 16, 17, 0.637);
}



/*--------------------------------------------------------------------------------------------------------------------------------*/


/*----Footer-----*/

footer {
    background-color: #721664;
    grid-row: 3/4;
}

/*--------INACTIVE----------*/
.inactive {
    display: none !important;
}

/*----TOOGLE-MENU---*/
.toggle-menu {
    left:0;
    opacity: 1;
    transition: left 0.3s ease-out, opacity 0.4s ease-out;
}














/*----------Scroll-bars---------------*/
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color:  var(--grey-cloud) rgba(0, 0, 255, 0);
  } 
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--grey-cloud);
    border-radius: 20px;
  }


